.container_add_post {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 10px;
}
.header_add_post {
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}
.btn-add_post {
  background-color: #f7f7f8;
  border-radius: 30px;
  width: 100%;
  transition-duration: 0.5s;
}
.btn-add_post:hover {
  background-color: #e2e2e2;
  cursor: pointer;
  transition-duration: 0.5s;
}
.add_photo:hover {
  cursor: pointer;
}
.feeling:hover {
  cursor: pointer;
}
