.component__popup {
    background-color: #fff;
  }

  .component {
    background-color: #fff;
    width: 90%;
  }

  .content_card {
    font-weight: bold;
    font-size: medium;
  }

  .Header__card {
    color: #a70da4;
    font-weight: bold;
  }

  .content_card2 {
    color: rgb(78, 150, 196);
    text-decoration: underline;
  }

  @media (max-width: 767px) {
    /* Styles for screens smaller than 768px */
    .col-md-5 {
      width: 100%;
    }
  }

