/* .component__popup {
    background-color: #fff;
  }

  .component {
    background-color: #fff;
    width: 90%;
  }

  .content_card {
    font-weight: bold;
    font-size: medium;
  }

  .Header__card {
    color: #a70da4;
    font-weight: bold;
  }

  .content_card2 {
    color: rgb(78, 150, 196);
    text-decoration: underline;
  } */

/* @media (max-width: 767px) {
    .col-md-5 {
      width: 100%;
    }
  } */

.card_friend {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  position: relative;
}
.mutual-text {
  font-size: 12px;
}
.icon_dots_card_friend {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}
.icon_dots_card_friend:hover {
  cursor: pointer;
}
