/* .Container {
  display: flex;
  justify-content: center;
}

.Container_center {
  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width: 768px) {
  .Container_center {
    width: 95%;
  }
}

.header__friends {
  width: 100%;
}

.body__friends {
  width: 100%;
} */
