.card__active {
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 30px;
}

.ItemActive {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  display: flex;
  gap: 15px;
}
.status__login {
  font-size: 12px;
  color: var(--btn-color);
}
