.card__about {
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 30px;
}

.item__about {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.item__about i {
  color: #a303a0;
}
