.custom_nav {
  background-color: #f7f7f8;
}

.input_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 10px;
}
.input_wrapper input {
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  max-width: 600px;
}
.custom_items {
  width: 100%;
}
.custom_item_nav {
  width: 5rem;
  margin: 0 10px;
}
.custom_item_nav i {
  font-size: 22px;
}
.custom_active i {
  color: #a303a0;
}
.custom_active {
  border-bottom: 2.5px solid #a303a0;
}
.dropdown__custom:is(:hover, :active, :focus) {
  background-color: transparent;
  border: none;
}
.btn_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  border: none !important;
}
.btn_dropdown:is(:hover, :active, :focus) {
  background-color: transparent !important;
  border: none;
}
.custom-dropdown-menu {
  width: 300px;
}
.custom_item_dropDown:focus {
  background-color: #a303a024 !important;
}
