.input-wrapper {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}

.results-list {
  position: absolute;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
  z-index: 200;
}
.link__item {
  color: #000;
  text-decoration: none;
}
