.cover {
    position: absolute;
    top: 30%;
    right: 39px;
    transform: translate(0, -50%);
    width: 75%;
    height: 415px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .cover-photo {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  
  .profile-photo {
    position: absolute;
    width: 179.82px;
    height: 179.82px;
    background-size: cover;
    left: 50px;
    top: 155px;
    border-radius: 50%;
  }
  
  .cover-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 195px;
    width: calc(100% - 330px);
  }

  .cover-button {
    display: flex;
    align-items: center;
    
  }
  
  .cover-button button {
    margin-left: 10px;
    height: 34px;
    width: 180px;
  }
  
  @media (max-width: 768px) {
    .cover {
      position: static;
      top: auto;
      right: auto;
      transform: none;
      width: 100%;
      height:450px;
    }
  
    .cover-photo {
      height: 285px;
    }
  
    .profile-photo {
      position: absolute;
      width: 179.82px;
      height: 179.82px;
      left: 30.34px;
      top: 182px;
    }
  
    .cover-button {
      position: absolute;
      width: 46px;
      height: 46px;
      left: 135px;
      top: 120px;
    }
  
    
  
    .cover-container {
        flex-direction: column;
        align-items: self-start;
        left: auto;
        width: 50%;
        margin-top: 43px;
        margin-left: 20px;
      
    }
  
    .cover-button {
        position:absolute;
        margin-top: 9px;
        display: flex;
        transform: translate(120px,-90px);
    }
  
    .cover-text {
      position:absolute;
      margin: 10px 0;
      text-align: center;
    }
  }
  