.container_image {
  position: relative;
}

.container_image img {
  border: 2px solid #a303a0;
}
.icon_upload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 0px;
  background-color: #e3e3e3;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
